<template>
    <div>
        <!-- Navbar -->
        <Navbar :route="route"></Navbar>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <Aside :route="route"></Aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <transition>
                <router-view></router-view>
            </transition>
        </div>
        <!-- <Content></Content> -->
        <!-- /.content-wrapper -->
    </div>
</template>

<script>
import Navbar from './template/Navbar.vue'
import Aside from './template/Aside.vue'
export default {
    props: ['route'],
    components: {Navbar, Aside}
}
</script>

<style>

</style>