<template>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="#" class="brand-link">
        <img :src="route + '/img/adminLTElogo.png'" alt="System Laravel" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">System Laravel </span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
            <img :src="route + '/img/avatar.png'" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
            <a href="#" class="d-block">Aji Bagaskara</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <router-link class="nav-link active" :to="'/'">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </router-link>
                </li>
                <li class="nav-header">OPERATIONS</li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="'/order'">
                        <i class="nav-icon fas fa-cash-register"></i>
                        <p>
                            Order
                        </p>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="'/client'">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Clients
                        </p>
                    </router-link>
                </li>
                <li class="nav-header">CONFIGURATIONS</li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="'/category'">
                        <i class="nav-icon fas fa-sitemap"></i>
                        <p>Categories</p>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="'/product'">
                        <i class="nav-icon fas fa-apple-alt"></i>
                        <p>Products</p>
                    </router-link>
                </li>
                <li class="nav-header">ADMINISTRATION</li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="'/user'">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Users</p>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="'/role'">
                    <i class="nav-icon fas fa-unlock-alt"></i>
                    <p>Roles</p>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="'/permission'">
                        <i class="nav-icon fas fa-key"></i>
                        <p>Permissions</p>
                    </router-link>
                </li>
                <li class="nav-header">REPORTS</li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="'/report'">
                        <i class="nav-icon fas fa-file-export"></i>
                        <p>Order</p>
                    </router-link>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
</template>

<script>
export default {
    props: ['route']
}
</script>

<style>

</style>